$color-primary:  #FF9900;  //начальный цвет кнопок
$color-editional: #FF7549; //для ховер-эффекта кнопок
$color-background: #FFEEE1;
$color-link: #1943EF;
$color-tag: #544837;
$color-text:  #544837;
$color-heading: #2F281E;
$color-border: #BCD0E5;

//фирменный цвет всего сайта- называют $color-brand

//дополнительные цвета сайта
$color-violet: #7752BE;
$color-orange: #FAB005;
$color-: #F03E3D;
$color-: #4DADF7;

$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;


