.navigation__link, .promo__buttons .link-button, .button, .logo-path {
  transition: all 0.3s;
}

.button, body {
  font-family: "Open Sans", "Verdana", sans-serif;
}

.promo__buttons .link-button, .promo__text, h1 {
  font-family: "Poppins", "Verdana", sans-serif;
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
}

h1 {
  font-style: normal;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 5.4rem;
  text-align: left;
}

h2 {
  font-size: 34px;
  font-weight: 700;
  line-height: 46px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
}

h4 {
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  font-size: 22px;
}

h5 {
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.logo-svg {
  cursor: pointer;
}
.logo-svg:hover .logo-path {
  fill: #FF7549;
}

.button {
  border: none;
  border-radius: 0.4rem;
  background-color: #FF9900;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-align: center;
  cursor: pointer;
}
.button:hover {
  background-color: #FF7549;
}

.button_bordered,
.button_colored {
  width: 11.3rem;
  height: 4.6rem;
  padding: 1.1rem 2.5rem 1.3rem;
  font-weight: 600;
}

.button_bordered {
  background-color: #ffffff;
  border: 2px solid #BCD0E5;
  color: #173A56;
}
.button_bordered:hover {
  background-color: #BCD0E5;
}

.button__promo {
  padding: 1.5rem 3.7rem 1.6rem;
  font-weight: 700;
}

.ico {
  display: inline-block;
}

.ico_play {
  background-image: url("../assets/images/promo/play.svg");
  width: 18px;
  height: 19px;
  margin-right: 0.9rem;
}

.wrapper {
  max-width: 83.1%;
  margin: auto;
}

.header {
  padding: 1% 0 1.12%;
  background-color: #ffffff;
  box-shadow: 0 0.25rem 1.25rem 0 rgba(0, 0, 0, 0.0784313725);
}

.wrapper__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__buttons {
  display: flex;
  gap: 1.44rem;
}

.wrapper__promo {
  display: flex;
}

.promo__content {
  width: 47.8%;
  padding-top: 9%;
}

.promo__text {
  width: 85%;
  padding-top: 5%;
  color: #544837;
  font-style: normal;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.8rem;
  text-align: left;
}

.promo__buttons {
  display: flex;
  align-items: center;
  gap: 4.4rem;
  padding-top: 7.5%;
}
.promo__buttons .link-button {
  display: inline-flex;
  align-items: center;
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-decoration: underline;
  text-align: left;
  color: #FF9900;
}
.promo__buttons .link-button:hover {
  color: #FF7549;
}

.promo-images {
  width: 52.2%;
  position: relative;
  padding-top: 2.4%;
}
.promo-images .promo-images__background {
  margin-left: 9.2%;
  margin-top: 4.7%;
  margin-bottom: 4%;
}
.promo-images .promo-images__image {
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
}

.navigation {
  display: flex;
  gap: 1.7rem;
}

.navigation__link {
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.8rem;
  color: #2F281E;
}
.navigation__link:hover {
  color: #FF7549;
}

.contacts-us {
  background-color: #FFEEE1;
}/*# sourceMappingURL=style.css.map */