.header {
    padding: 1% 0 1.13%;
    background-color: $color-light;
    box-shadow: 0 0.25rem 1.25rem 0 #00000014;
}

.wrapper__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    gap: 1.7rem;
    cursor: pointer;
}

.navigation__link {
    font-weight: 400;
    line-height: 2.8rem;
    font-size: 1.5rem;
    color: $color-heading;
    @extend %transition;
    &:hover {
        color: $color-editional;
    }
}

.header__buttons {
    display: flex;
    gap: 1.44rem;
}