.wrapper__promo {
    display: flex;
    & .promo__content {
        width: 47.8%;
        padding-top: 9.5%;
    }
    & .promo-images {
        width: 52.2%;
        position: relative;
        padding-top: 2.51%;
    }
}

.promo__content {
    & .promo__text {
        width: 85%;
        margin-top: 5.5%;
        color: $color-text;
        font-family: "Poppins", "Verdana", sans-serif;
        @include font(1.8rem, 400, 2.8rem);
        text-align: left;
    }
    & .promo__buttons {
        display: flex;
        align-items: center;
        gap: 4.4rem;
        margin-top: 8.2%;
    }
    & .link-button {
        font-family: Poppins;
        @include font(1.6rem, 600, 2.4rem);
        text-decoration: underline;  // подчёркивает текст
        text-align: left;
        color: $color-primary;
        cursor: pointer;
        @extend %transition;
            &:hover{
            color:  $color-editional;
            }
    }
}

.promo-images {
    & .promo-images__background {
        margin-left: 9.2%;
        margin-top: 4.7%;
        margin-bottom: 4%;
    }
    & .promo-images__image {
        width: 100%;
        position: absolute;
        z-index: 1;
        left: 0;
     }
}



