.wrapper__promo {
    display: flex;
    & .promo__content {
        width: 46%;
        padding-top: 9.5%;
    }
    & .promo-images {
        width: 53.7%;
        position: relative;
        padding-top: 2.5%;
    }
}

.promo__content {
    & .promo__text {
        width: 88.6%;
        margin-top: 5.5%;
        color: $color-text;
        font-family: "Poppins", "Verdana", sans-serif;
        font-weight: 400;
        line-height: 2.8rem;
        text-align: left;
        font-size: 1.8rem;
    }
    & .promo__buttons {
        display: flex;
        align-items: center;
        gap: 4.4rem;
        margin-top: 8.2%;
    }
    & .link-button {
        font-family: Poppins;
        font-weight: 600;
        line-height: 2.4rem;
        text-align: left;
        font-size: 1.6rem;
        color: $color-primary;
        cursor: pointer;
        @extend %transition;

            &:hover{
            color:  $color-editional;
            }
    }
}

.promo-images {
    & .promo-images__background {
        margin-left: 9.2%;
        margin-top: 4.7%;
        margin-bottom: 4%;
    }
    & .promo-images__image {
        width: 100%;
        position: absolute;
        z-index: 1;
        left: 0;
     }
}



