// стили для основных тегов
html {
     font-size: 10px; //нужно для расчёта единицы rem дочерних элементов
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    height: 100vh;
    @extend %font-basic;
    @include font(1.6rem, 400, 2.6rem);
    color: $color-text;
  }

  h1, h2, h3, h4, h5 {
    color: $color-heading;
  }

  h1 {
    @extend %font-additional;
    @include font(4.4rem, 700, 5.4rem);  //должен быть не меньше font-size, иначе будет ошибка
    text-align: left;
    @include media-mobile {
      @include font(3.2rem, 700, 4.2rem);
      text-align: center;
    }
  }

   h2 {
    @include font(3.4rem, 700, 4.6rem);
    @include media-tablet {
      text-align: center;
    }
    @include media-mobile {
      @include font(2.4rem, 700, 3.2rem);
    }
  }

  h3 {
    @include font(2.4rem, 700, 3.4rem);
    text-align: left;
    @include media-mobile {
      @include font(2.1rem, 700, 3.1rem);
    }
  }

  h4 {
    @include font(2.2rem, 600, 3rem);
    text-align: left;
    @include media-tablet {
      font-size: 2rem;
    }
    @include media-mobile {
      font-size: 1.8rem;
    }
  }

  h5 {
    @include font(1.6rem, 700, 2.6rem);
    text-align: left;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }