.button {
    border: none;
    border-radius: 0.4rem;
    background-color: $color-primary;
    color: $color-light;
    @extend %font-basic;
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-align: center;
    cursor: pointer;
    @extend %transition;
    &:hover {
        background-color: $color-editional;
    }
}

.button_bordered,
.button_colored {
    width: 11.3rem;
    height: 4.6rem;
    padding: 1.1rem 0 1.3rem;
    font-weight: 600;
}

.button_bordered {
    background-color: $color-light;
    border: 2px solid $color-border;
    color: #173A56;
    &:hover {
        background-color: $color-border;
    }
}

.button__promo {
    padding: 1.5rem 3.5rem 1.6rem;
    font-weight: 700;
}

.link-button {
    display: inline-flex;
    align-items: center;
    @extend %font-additional;
    @include font(1.6rem, 600, 2.4rem);
    text-decoration: underline;  // подчёркивает текст
    text-align: left;
    color: $color-primary;
    @extend %transition;
        &:hover{
        color:  $color-editional;
        }
}