.navigation__link, .footer__link, .link-button, .button, .logo-path {
  transition: all 0.3s;
}

.button, body {
  font-family: "Open Sans", "Verdana", sans-serif;
}

.promo__text, .footer__link, .link-button, h1 {
  font-family: "Poppins", "Verdana", sans-serif;
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: #544837;
}

h1, h2, h3, h4, h5 {
  color: #2F281E;
}

h1 {
  font-style: normal;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 5.4rem;
  text-align: left;
}
@media screen and (max-width: 431px) {
  h1 {
    font-style: normal;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4.2rem;
    text-align: center;
  }
}

h2 {
  font-style: normal;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 4.6rem;
}
@media screen and (max-width: 768px) {
  h2 {
    text-align: center;
  }
}
@media screen and (max-width: 431px) {
  h2 {
    font-style: normal;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
  }
}

h3 {
  font-style: normal;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.4rem;
  text-align: left;
}
@media screen and (max-width: 431px) {
  h3 {
    font-style: normal;
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 3.1rem;
  }
}

h4 {
  font-style: normal;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 3rem;
  text-align: left;
}
@media screen and (max-width: 768px) {
  h4 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 431px) {
  h4 {
    font-size: 1.8rem;
  }
}

h5 {
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.6rem;
  text-align: left;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.logo {
  display: flex;
}
@media screen and (max-width: 431px) {
  .logo {
    padding-right: 108px;
  }
}

@media screen and (max-width: 431px) {
  .logo-object {
    width: 158px;
  }
}

.logo-svg {
  cursor: pointer;
}
.logo-svg:hover .logo-path {
  fill: #FF7549;
}

.button {
  border: none;
  border-radius: 0.4rem;
  background-color: #FF9900;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-align: center;
  cursor: pointer;
}
.button:hover {
  background-color: #FF7549;
}

.button_bordered,
.button_colored {
  width: 11.3rem;
  height: 4.6rem;
  padding: 1.1rem 0 1.3rem;
  font-weight: 600;
}

.button_bordered {
  background-color: #ffffff;
  border: 2px solid #BCD0E5;
  color: #173A56;
}
.button_bordered:hover {
  background-color: #BCD0E5;
}

.button__promo {
  padding: 1.5rem 3.5rem 1.6rem;
  font-weight: 700;
}

.link-button {
  display: inline-flex;
  align-items: center;
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-decoration: underline;
  text-align: left;
  color: #FF9900;
}
.link-button:hover {
  color: #FF7549;
}

.ico {
  display: inline-block;
}

.ico_play {
  background-image: url("../assets/images/promo/play.svg");
  width: 18px;
  height: 19px;
  margin-right: 0.9rem;
}

.ico_tel,
.ico_mail {
  width: 2.5rem;
  height: 2.5rem;
}

.ico_tel {
  background-image: url("../assets/images/contacts_us/ico_phone.svg");
}

.ico_mail {
  background-image: url("../assets/images/contacts_us/ico_mail.svg");
}

.tag {
  border-radius: 9rem;
  padding: 0 1.4rem;
  font-style: normal;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2.8rem;
}

.tag_colored {
  background-color: #FF9900;
  color: #ffffff;
}

.tag_bordered {
  border: 1px solid #BCD0E5;
}

.tag_color {
  background-color: #F5F5F5;
  padding: 0.7rem 1.4rem;
}

.hamburger-line, .hamburger::after, .hamburger::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #173A56;
}

.header__logo-line {
  display: flex;
}

.hamburger {
  display: none;
  position: relative;
  width: 3.1rem;
  height: 2.5rem;
  margin-right: 3.7rem;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }
}
@media screen and (max-width: 431px) {
  .hamburger {
    width: 27px;
    height: 21px;
    margin-right: 6.1rem;
  }
}
.hamburger::before {
  top: 0;
  left: 0;
}
.hamburger::after {
  bottom: 0;
  left: 0;
}

.hamburger-line {
  top: calc(50% - 1.5px);
  left: 0;
}

.wrapper {
  max-width: 1198px;
  margin: auto;
}
@media screen and (max-width: 1198px) {
  .wrapper {
    padding: 0 4.6rem;
  }
}
@media screen and (max-width: 431px) {
  .wrapper {
    padding: 0 2.1rem;
  }
}

.header {
  padding: 1% 0 1.12%;
  background-color: #ffffff;
  box-shadow: 0 0.25rem 1.25rem 0 rgba(0, 0, 0, 0.0784313725);
}
@media screen and (max-width: 768px) {
  .header {
    padding: 2.1% 0;
  }
}
@media screen and (max-width: 431px) {
  .header {
    padding: 5% 0;
  }
}

.wrapper__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .wrapper__header {
    padding-left: 2.4rem;
  }
}
@media screen and (max-width: 431px) {
  .wrapper__header {
    padding-left: 2.1rem;
  }
}

.header__buttons {
  display: flex;
  gap: 1.44rem;
}
@media screen and (max-width: 431px) {
  .header__buttons {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header__navigation {
    display: none;
  }
}

.layout-4-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-4-column > * {
  flex-basis: 20%;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-3-column > * {
  flex-basis: 31.7%;
}

.layout-2-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-2-column > * {
  flex-basis: 49%;
}

.wrapper-footer {
  display: flex;
  justify-content: space-between;
  padding: 5.8rem 0 5.2rem;
}
@media screen and (max-width: 768px) {
  .wrapper-footer {
    display: block;
    padding: 47px 46px 28px;
  }
}
@media screen and (max-width: 431px) {
  .wrapper-footer {
    padding: 31px 21px 28px;
  }
}

.wrapper-navigation {
  width: 70%;
}
@media screen and (max-width: 768px) {
  .wrapper-navigation {
    width: 100%;
    padding-top: 34px;
  }
}
@media screen and (max-width: 431px) {
  .wrapper-navigation {
    padding-top: 9px;
  }
}

@media screen and (max-width: 431px) {
  .footer-navigation {
    flex-basis: 60%;
  }
}

@media screen and (max-width: 431px) {
  .footer-navigation__heading {
    padding-top: 18px;
  }
}

.footer-navigation__links {
  margin-top: 15px;
}
@media screen and (max-width: 431px) {
  .footer-navigation__links {
    margin-top: 5px;
  }
}

.footer__link {
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.5rem;
  color: #544837;
}
.footer__link:hover {
  color: #FF7549;
}

.navigation {
  display: flex;
  gap: 1.7rem;
}

.navigation__link {
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.8rem;
  color: #2F281E;
}
.navigation__link:hover {
  color: #FF7549;
}

.wrapper__promo {
  display: flex;
  overflow-x: hidden;
}
@media screen and (max-width: 431px) {
  .wrapper__promo {
    flex-direction: column-reverse;
  }
}

.promo__content {
  width: 47.8%;
  padding-top: 10.5%;
}
@media screen and (max-width: 768px) {
  .promo__content {
    width: 60%;
    padding-top: 6.8%;
  }
}
@media screen and (max-width: 431px) {
  .promo__content {
    width: 90%;
    padding-top: 16px;
    margin: auto;
  }
}

.promo__text {
  width: 85%;
  padding-top: 5%;
  color: #544837;
  font-style: normal;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.8rem;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .promo__text {
    width: 380px;
    padding-top: 8%;
  }
}
@media screen and (max-width: 431px) {
  .promo__text {
    width: auto;
    font-style: normal;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: center;
    padding-top: 9px;
  }
}

.promo__buttons {
  display: flex;
  align-items: center;
  gap: 4.4rem;
  padding-top: 7.5%;
}
@media screen and (max-width: 768px) {
  .promo__buttons {
    padding-top: 12%;
  }
}
@media screen and (max-width: 431px) {
  .promo__buttons {
    flex-direction: column;
    gap: 2.5rem;
    padding-top: 23px;
  }
}

.promo__image {
  max-width: 642px;
  padding-top: 3rem;
}
@media screen and (max-width: 768px) {
  .promo__image {
    width: 580px;
    padding-top: 0.2rem;
  }
}
@media screen and (max-width: 431px) {
  .promo__image {
    display: block;
    max-width: 100%;
    padding-top: 1.2rem;
  }
}

.wrapper__tools {
  padding: 7.3% 0 5.95%;
  background: url(../assets/images/tools/Bg.svg) no-repeat;
  background-size: 100%;
  background-position: center bottom;
}
@media screen and (max-width: 768px) {
  .wrapper__tools {
    padding: 78px 46px 47px;
  }
}
@media screen and (max-width: 431px) {
  .wrapper__tools {
    width: 100%;
    padding-top: 49px;
  }
}

.tools__title {
  width: 40.5%;
  margin: auto;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .tools__title {
    width: 65%;
    margin: auto;
  }
}
@media screen and (max-width: 431px) {
  .tools__title {
    width: 100%;
  }
}

.colum-tools {
  padding: 5.8% 0 2.8%;
}
@media screen and (max-width: 431px) {
  .colum-tools {
    padding: 43px 0 38px;
    gap: 47px;
  }
}

@media screen and (max-width: 768px) {
  .tool {
    flex-basis: 45%;
    margin-top: 54px;
  }
}
@media screen and (max-width: 431px) {
  .tool {
    flex-basis: 100%;
    margin-top: 0;
    padding: 0 25px;
  }
}

.tool__ico {
  width: 5.5rem;
  height: 5rem;
}
@media screen and (max-width: 768px) {
  .tool__ico {
    margin: auto;
  }
}

.tool__heading {
  padding-top: 3rem;
}

.text__tool {
  padding-top: 1.6rem;
}

@media screen and (max-width: 768px) {
  .tool__heading,
  .text__tool {
    text-align: center;
  }
}

.tools__button {
  width: 171px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .tools__button {
    padding-top: 54px;
  }
}
@media screen and (max-width: 431px) {
  .tools__button {
    width: 173px;
    padding-top: 54px;
  }
}

.strategies {
  padding-top: 3rem;
}
@media screen and (max-width: 768px) {
  .strategies {
    padding-top: 51px;
  }
}
@media screen and (max-width: 431px) {
  .strategies {
    padding-top: 63px;
  }
}

.strategies__description {
  padding-top: 14px;
}
@media screen and (max-width: 768px) {
  .strategies__description {
    text-align: center;
  }
}

.strategies__tags {
  width: 255px;
  display: flex;
  gap: 0.7rem;
  padding-top: 2.4rem;
  padding-bottom: 3.1rem;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .strategies__tags {
    justify-content: center;
  }
}

.strategy-wrapper {
  justify-content: flex-start;
  -moz-column-gap: 25px;
       column-gap: 25px;
  row-gap: 30px;
}
@media screen and (max-width: 768px) {
  .strategy-wrapper > * {
    flex-basis: 48%;
  }
}
@media screen and (max-width: 431px) {
  .strategy-wrapper {
    row-gap: 21px;
  }
  .strategy-wrapper > * {
    flex-basis: 100%;
  }
}

.block-shadow,
.block-shadow_four {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.0509803922);
  border-radius: 1rem;
}

.strategy {
  display: flex;
  flex-direction: column;
}

.strategy_hidden {
  display: none;
}

.block-shadow__image {
  max-width: 100%;
}

.image4 {
  max-width: none;
}
@media screen and (max-width: 768px) {
  .image4 {
    max-width: 100%;
    height: 171px;
  }
}

/* .image-table_block {
    display: none;
    @include media-tablet {
        display: block;
    }
}
.image-table_none {
    @include media-tablet {
        display: none;
    }
} */
@media screen and (max-width: 431px) {
  .image-mobile_none {
    display: none;
  }
}

.block-shadow__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2.4rem 3.4rem 2.6rem;
}
.block-shadow__container:hover h3 {
  color: #FF9900;
}

.block-shadow__title {
  flex-grow: 1;
}

.block-shadow__tags {
  padding-top: 2.4rem;
}

.about-us {
  padding: 6.3% 0 6.7%;
}
@media screen and (max-width: 768px) {
  .about-us {
    padding: 49px 0 50px;
  }
}

.about-us__text {
  padding-top: 1.4rem;
}

@media screen and (max-width: 768px) {
  .column-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
    row-gap: 33px;
    margin-left: -420px;
  }
  .column-about > * {
    flex-basis: 31.4%;
  }
}
@media screen and (max-width: 431px) {
  .column-about {
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .column-about > * {
    flex-basis: 28%;
  }
}

.employee {
  position: relative;
  justify-content: space-between;
  height: 14.1rem;
  margin-top: 4.5rem;
}

.employee__content {
  padding: 3.6rem 3.5rem;
  padding-right: 0;
  font-style: normal;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.6rem;
}

.employee_photo {
  position: absolute;
  top: 8px;
  right: -43px;
  max-width: 154px;
}

.contacts-us {
  padding: 6.2rem 0 8.2rem;
  background-color: #FFEEE1;
}
@media screen and (max-width: 768px) {
  .contacts-us {
    padding: 50px 0;
  }
}

.contacts-us__title {
  padding-bottom: 1.7rem;
}

@media screen and (max-width: 768px) {
  .contacts-us__content,
  .contacts-us__form {
    flex-basis: 100%;
  }
}

.contacts-us__text {
  width: 85%;
  padding-bottom: 3.3rem;
}
@media screen and (max-width: 768px) {
  .contacts-us__text {
    width: 100%;
    text-align: center;
    padding-bottom: 26px;
  }
}

.ico__block {
  display: flex;
  align-items: center;
  gap: 1.1rem;
  margin-bottom: 1.9rem;
}
@media screen and (max-width: 768px) {
  .ico__block {
    justify-content: center;
  }
}

.contacts-us__links {
  font-style: normal;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: #544837;
}
.contacts-us__links:hover {
  color: #FF7549;
}
@media screen and (max-width: 431px) {
  .contacts-us__links {
    font-style: normal;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.6rem;
  }
}

.contacts-us__form input, .contacts-us__form .form-text {
  border: none;
  background-color: #ffffff;
  padding: 1rem 2.1rem;
  border-radius: 0.5rem;
}
.contacts-us__form input:focus, .contacts-us__form .form-text:focus {
  border: 1px solid #FF9900;
  outline: none;
}
@media screen and (max-width: 431px) {
  .contacts-us__form input, .contacts-us__form .form-text {
    flex-basis: 100%;
  }
}
@media screen and (max-width: 768px) {
  .contacts-us__form {
    padding-top: 54px;
  }
}
@media screen and (max-width: 431px) {
  .contacts-us__form {
    padding-top: 41px;
  }
}

@media screen and (max-width: 431px) {
  .column-form {
    row-gap: 16px;
  }
}

.form-text {
  width: 100%;
  margin: 1.8rem 0 2rem;
  resize: none;
}

.contacts-us__button > * {
  width: 11.7rem;
  height: 5.3rem;
}
@media screen and (max-width: 768px) {
  .contacts-us__button {
    width: 17.5%;
    margin: auto;
  }
}
@media screen and (max-width: 431px) {
  .contacts-us__button {
    width: 36%;
  }
}/*# sourceMappingURL=style.css.map */