.about-us {
    padding: 9.6rem 0 10.1rem;
}

.about-us__text {
    padding-top: 1.4rem;
}

.employee {
    display: flex;
    justify-content: space-between;
    height: 14.1rem;
    margin-top: 4.5rem;
}

.employee__content {
    padding: 3.6rem 3.5rem;
    padding-right: 0;
    font-size: 1.4rem;
    line-height: 2.2rem;
}

.employee_photo {
    margin: 2rem 0;
}

