.navigation {
    display: flex;
    gap: 1.7rem;
    cursor: pointer;
}

.navigation__link {
    @include font(1.5rem, 400, 2.8rem);
    color: $color-heading;
    @extend %transition;
    &:hover {
        color: $color-editional;
    }
}