.wrapper__promo {
    display: flex;
    overflow-x: hidden;
    @include media-mobile {
        flex-direction: column-reverse;
    }
}

.promo__content {
    width: 47.8%;
    padding-top: 9.5%;
    @include media-tablet {
      width: 60%;
    }
    @include media-mobile {
        width: 90%;
    }
}

.promo__text {
    width: 85%;
    padding-top: 5%;
    color: $color-text;
    @extend %font-additional;
    @include font(1.8rem, 400, 2.8rem);
    text-align: left;
    @include media-tablet {
        width: 380px;
    }
    @include media-mobile {
        width: auto;
        @include font(1.6rem, 400, 2.4rem);
        text-align: center;
    }
}

.promo__buttons {
    display: flex;
    align-items: center;
    gap: 4.4rem;
    padding-top: 7.5%;
    @include media-mobile {
        flex-direction: column;
        gap: 2.5rem;
    }
}

.promo__image {
    max-width: 642px;
    padding-top: 3rem;
    @include media-tablet {
        width: 580px;
        padding-top: 0.2rem;
    }
    @include media-mobile {
        display: block;
        max-width: 90%;
        padding-top: 1.2rem;
    }
}



