.wrapper__tools {
    padding-bottom: 9rem;
    background: url(../assets/images/tools/Bg.svg) no-repeat;
    background-size: 100%;
    background-position: center bottom;
}

.tools__title {
width: 36.6%;
margin: 8.8% auto 5.5%;
text-align: center;
}

.tool__ico {
    width: 5.5rem;
    height: 5rem;
}

.tool__heading {
    padding-top: 3rem;
}

.text__tool {
    padding-top: 1.6rem;
}

.tools__button {
    width: 14%;
    margin: 0 auto;
    margin-top: 6rem;
}