// стили для основных тегов
html {
     font-size: 10px; //нужно для расчёта единицы rem дочерних элементов
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    height: 100vh;
    @extend %font-basic;
    @include font(1.6rem, 400, 2.6rem);
    color: $color-text;
  }

  h1, h2, h3, h4, h5 {
    color: $color-heading;
  }

  h1 {
    @extend %font-additional;
    @include font(4.4rem, 700, 5.4rem);  //должен быть не меньше font-size, иначе будет ошибка
    text-align: left;
  }

   h2 {
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 4.6rem;
  }

  h3 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.4rem;
    text-align: left;
  }

  h4 {
    font-weight: 600;
    line-height: 3rem;
    text-align: left;
    font-size: 2.2rem;
  }

  h5 {
    font-weight: 700;
    line-height: 2.6rem;
    text-align: left;
    font-size: 1.6rem;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }