// стили для основных тегов
html {
     font-size: 10px; //нужно для расчёта единицы rem дочерних элементов
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    height: 100vh;
    @extend %font-basic;
    @include font(1.6rem, 400, 2.6rem);
  }

  h1 {
    @extend %font-additional;
    @include font(4.4rem, 700, 5.4rem);  //должен быть не меньше font-size, иначе будет ошибка
    text-align: left;
  }

   h2 {
    font-size: 34px;
    font-weight: 700;
    line-height: 46px;
  }

  h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
  }

  h4 {
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    font-size: 22px;
  }

  h5 {
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    font-size: 16px;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }