// стили для основных тегов
html {
     font-size: 10px; //нужно для расчёта единицы rem дочерних элементов
  }

  body {
    height: 100vh;
    font-family: "Open Sans", "Verdana", sans-serif;
    font-size: 1.6rem;
  }

  h1 {
    margin-top: 20.5%;
    font-family: "Poppins", "Verdana", sans-serif;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 5.4rem; //должен быть не меньше font-size, иначе будет ошибка
    text-align: left;
  }

   h2 {
    font-size: 34px;
    font-weight: 700;
    line-height: 46px;
  }

  h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
  }

  h4 {
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    font-size: 22px;
  }

  h5 {
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    font-size: 16px;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }