.logo {
    display: flex;
}

.logo-object {
    @include media-mobile {
        width: 158px;
     }
}

.logo-path {
    @extend %transition;  // подключили placeholder
}

.logo-svg {
    cursor: pointer;
    &:hover {
        .logo-path {
            fill: $color-editional;
        }
    }
}