.about-us {
    padding: 6.3% 0 6.7%;
    @include media-tablet {
        padding: 49px 0 50px;
    }
}

.about-us__text {
    padding-top: 1.4rem;
}

.column-about {
    @include media-tablet {
        @include columns($width: 31.4%);
        width: 1200px;
        row-gap: 33px;
    }
}

.employee {
    position: relative;
    justify-content: space-between;
    height: 14.1rem;
    margin-top: 4.5rem;
}

.employee__content {
    padding: 3.6rem 3.5rem;
    padding-right: 0;
    @include font(1.4rem, 400, 2.6rem);
}

.employee_photo {
    position: absolute;
    top: 8px;
    right: -43px;
    max-width: 154px;
}

