.contacts-us {
    padding: 6.2rem 0 8.2rem;
    background-color: $color-background;
    @include media-tablet {
        padding: 50px 0;
    }
}

.contacts-us__title {
    padding-bottom: 1.7rem;
}

.contacts-us__content,
.contacts-us__form {
    @include media-tablet {
        flex-basis: 100%;
    }
}

.contacts-us__text {
    width: 85%;
    padding-bottom: 3.3rem;
    @include media-tablet {
        width: 100%;
        text-align: center;
        padding-bottom: 26px;
    }
}

.ico__block {
    display: flex;
    align-items: center;
    gap: 1.1rem;
    margin-bottom: 1.9rem;
    @include media-tablet {
        justify-content: center;
    }
}

.contacts-us__links {
    @include font(2.5rem, 400, 2.6rem);
    color: $color-text;
    &:hover {
        color: $color-editional;
    }
    @include media-mobile {
        @include font(2rem, 400, 2.6rem);
    }
}

.contacts-us__form {
    input, .form-text {
        border: none;
        background-color: $color-light;
        padding: 1rem 2.1rem;
        border-radius: 0.5rem;
        &:focus {
            border: 1px solid $color-primary;
            outline: none;  // удалила синюю рамку при клике на форму
        }
        @include media-mobile {
            flex-basis: 100%;
        }
    }
    @include media-tablet {
        padding-top: 54px;
    }
    @include media-mobile {
        padding-top: 41px;
    }
}
.column-form {
    @include media-mobile {
        row-gap: 16px;
    }
}

.form-text {
    width: 100%;
    margin: 1.8rem 0 2rem;
    resize: none;  // убрала изменение размера textarea

}

.contacts-us__button {
    >* {
        width: 11.7rem;
        height: 5.3rem;
    }
    @include media-tablet {
        width: 17.5%;
        margin: auto;
    }
    @include media-mobile {
        width: 36%;
    }
}