.strategies {
    padding-top: 3rem;
    @include media-tablet {
        padding-top: 51px;
    }
    @include media-mobile {
        padding-top: 63px;
    }
}

.strategies__description {
    padding-top: 14px;
    @include media-tablet {
        text-align: center;
    }
}

.strategies__tags {
    width: 255px;
    display: flex;
    gap: 0.7rem;
    padding-top: 2.4rem;
    padding-bottom: 3.1rem;
    cursor: pointer;
    @include media-tablet {
        justify-content: center;
    }
}

.strategy-wrapper {
        row-gap: 30px;
    @include media-tablet {
    >* {
        flex-basis: 48%;
    }
    }
    @include media-mobile {
    row-gap: 21px;
    >* {
        flex-basis: 100%;
    }
    }
}

.block-shadow,
.block-shadow_four {
    box-shadow: 0px 4px 20px 0px #0000000D;
    border-radius: 1rem;
}

.strategy {
    display: flex;
    flex-direction: column;
}

.strategy_hidden {
    display: none;
}

.block-shadow__image {
    max-width: 100%;
}

.image_four,
.image-table_block {
    @include media-tablet {
        max-width: 100%;
        height: 171px;
    }
}

.image-table_block {
    display: none;
    @include media-tablet {
        display: block;
    }
}
.image-table_none {
    @include media-tablet {
        display: none;
    }
}

.image-mobile_none {
    @include media-mobile {
        display: none;
    }
}

.block-shadow__container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2.4rem 3.4rem 2.6rem;
    &:hover {
        h3 {
            color: $color-primary;
        }
    }
}

.block-shadow__title {
    flex-grow: 1;  // занимает максимальное пространство контейнера родителя
}

.block-shadow__tags {
    padding-top: 2.4rem;
}

